div{
    background-color: aqua; width: 100%; padding: 1px;}
    h1{
        color: lightcoral; text-align: center;
    }
    p{
        font-size: Arial; font-size: 10px;
        font-size: 25px;
        color: blue;
    }
