.parent{
    background-color: lightgoldenrodyellow;
    padding: 50px;
}
.parent p{
    background-color: darkblue;
    color: yellowgreen;
}
.parent div{
background-color: lightblue;
}
.parent p{
    background-color: red;
    color: yellow;
}
.parent div{
    background-color: greenyellow;
    text-align: center;
}
h1{
    font-size: 25px;
    color: pink;
}
ul{
    background-color: rgb(196, 54, 54);
    color: red;
    border-radius: 200px;
}