h1{
    font-size: 20px;
    color: rgb(255, 166, 0);
    padding-left: 15px;
    background-color: aqua;
    text-align: center;
}
p{
    font-size: 15px;
    color: rgb(147, 1, 231);
    padding-bottom: 10px;
}
#example{
    color: yellowgreen;
    font-size:20px;
    text-align: left;
    background-color: azure;
}
span{
    background-color: blue;
    color: rgb(119, 12, 38);
    font-size: large;
    text-align: center;
}
.saiful{
    color: green;
    background-color: yellow;
    font-size: 26px;
}
body{
    background-color: aqua;
    animation: both;
}
div{
    color: red;
    background-color: yellowgreen;
}
.fatue{
    color: rgb(252, 8, 8);
    font-size: 25px;
}
#good{
    font-size: 25px;
    color: gray;
    background: greenyellow;
}
.islam{
    font-size: large;
background-color: aqua;
}