.
.input-field:focus  .label,
.input-field:valid.label{
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--black-color);
    padding: 0 10px;
}
.icon{
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}.wrapper  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(red, green, blue, alpha);
}
.
.input-field:focus  .label,
.input-field:valid.label{
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--black-color);
    padding: 0 10px;
}
.icon{
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}