ul{
    display: flex;
    gap: 1rem;
    list-style: none;

}
ul li{
    color:rgb(57, 16, 240);
    display: grid;
    place-content: center;
    margin: 0;
}
.menu::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(226, 11, 22);
    border-radius: 5px;
    transform: scaleX(0);
    transition:all .5s ease;
    bottom: 0;
    left: 0;
}