body{
    background-color: whitesmoke;
    border-width: 100%;
    
    padding: 12px;
    box-sizing: border-box;
    border-style: groove;

}
h1{
    text-align: center;
    font-size: 27px;
}
.saiful{
    text-align: justify;
text-align: left;
text-align: end;
border: 5px;
border-radius: 10px;
padding-right: 10px;
}
.saiful{
    .saiful img {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

}
p{
    margin-top: -60px;
    padding-left: 9px;
}
.career{
    background-color: yellow;
    
}
input,textarea,select{
    width: 100%;
    padding: 80%;
    margin: 6px 0;

    border: 1px solid #999;
    border: 6px;
    box-sizing: border-box;
}
.acadeic{
    background-color: yellow;
}
.Course{
    text-align: center;
}
.School{
    text-align: center;
}
.Score{
    text-align: center;
}
.Year{
    text-align: center;
   
}
#BCA{
    text-align: center;
}
#higher{
    text-align: center;

}
.ten{
    text-align: center;
}
.skills{
    background-color: yellow;
}
.person{
    background-color: yellow;
}
.declaration{
    background-color: yellow;
}


